@model CodeBank.ViewModels.CodebankViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Codebank</h2>
<form action="/CodeBankViewModels/Search">
    Search: <br />
    <input type="text" name="value" />
    <input type="submit" value="Find" />
</form>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Link
            </th>
            <th>
               Title
            </th>
            <th>
                Description
            </th>
            <th>
                KeyWords
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Code)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Link)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KeyWords)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
